

/* Copyrights Avishkar Patil */




@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');  /* font-family: 'Audiowide', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); /* font-family: 'Kaushan Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); /*font-family: 'Righteous', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap'); /*font-family: 'Corben', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap'); /* font-family: 'Holtwood One SC', serif; */

body {
	background: #202020;
	margin: 30px;
	padding-top: 10px;
	margin-top: 10px;


}

.spimg {
   border-radius: 15px;
}


h1 {
	text-align: center;
	font-size: 30px;
	margin: 15px;
	padding-bottom: 10px;
	font-family: 'Holtwood One SC', serif;
	background-color: #045de9;
        background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
    

}

#spbhai {
	width: 300px;

}

#sp {
	text-align: center;
}


.spt {
	font-family: 'Audiowide', cursive;
	text-align: center;
	margin-top: 10px;
	padding-top: 15px;
    background-color:  #ee9617;
	background-image:  linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 35px;
	text-shadow: 5px 5px 8px #ff0f39;


}

.spsm{
	font-family: 'Corben', cursive;
	text-align: center;
    font-size: 21px;
   background-color:  #ff4e00;
background-image:  linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spsm1{
    font-family: 'Corben', cursive;
    font-size: 20px;
    text-align: center;
   background-color: #00b712;
background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spsm2{
    font-family: 'Corben', cursive;
    text-align: center;
    font-size: 19px;
   background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer.footer {
  padding-top: 40px;
  text-align: center;
}
footer.footer .copyright {
  color: #9C9AB3;
  font-family: 'Righteous', cursive;
  text-decoration: none;
  font-size: 12px;
}

/*
@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes inner-circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}

.main1 {
    width:100px;
    height:100px;
    margin: 20px auto 0;
    font-size:100px;
    line-height:1;
    animation: circle 5s linear infinite;
    transform-origin:50% 200px;
}

.main2 {
    animation: inner-circle 5s linear infinite;

}

.av1{
    width:100px;
    height:100px;
    margin: 20px auto 0;
    font-size:100px;
    line-height:1;
    animation: circle 5s linear infinite;
    transform-origin:60% 190px;
}

.av2 {
    animation: inner-circle 5s linear infinite;

*/
